* {
    box-sizing: border-box;
}

body {
    background-color: var(--clr-primery-1);
    margin: 0;

    text-align: center;
    color: var(--txt-clr);
    font-family: sans-serif;
}

img {
    width: 100%;
}

a {
    padding: .5rem;
    border-radius: 1rem;

    color: white;
    text-decoration: none;
    font-size: 1.2rem;

    transition: .3s;

    &:hover {
        background-color: var(--txt-clr);
        color: var(--clr-secondary)
    }
}

label {
    cursor: pointer;
}

canvas {
    width: 100%;
    border-radius: 2rem;

    cursor: grab;
}

select {
    height: 2rem;
    width: 11rem;

    border-radius: .3rem;
    cursor: pointer;
}


button {
    cursor: pointer;

    &:hover {
        background-color: var(--txt-clr);
    }
}

p {
    margin: 0;

    font-size: 2.5rem;
    cursor: pointer;
}