/* mobile */
@media (max-width: 1000px) {
    .main-layout {
        grid-template-columns: minmax(20px, 1fr) minmax(auto, 800px) minmax(20px, 1fr);
    }

    .editor {
        flex-direction: column;
        width: 100%;

        >.canvas-container {
            width: 100%;
            place-self: center;
        }
    }

    .edit-container {
        width: 100%;
        padding: 1rem;
    }

    body.menu-open header {
        z-index: 1;
        top: 0;
        right: 0;
        left: 0;
    }

    nav {
        position: relative;
        flex-direction: column;
        align-items: center;

        position: fixed;
        top: 0;
        right: 0;
        height: 100dvh;
        background-color: var(--clr-primery--1);
        opacity: .95;
        width: 100%;

        translate: 100%;
        transition: .6s;

        body.menu-open & {
            box-shadow: -5px 20px 20px 10px var(--clr-primary-1);
            translate: 0;
        }
    }

    .close-menu-btn {
        position: absolute;
        top: 5px;
        right: 5px;

        border: none;
        border-radius: 5px;
    }
}

/* Medium */

@media (min-width:1000px) {
    .main-layout {
        grid-template-columns: minmax(20px, 1fr) minmax(auto, 1400px) minmax(20px, 1fr);
    }

    .edit-container {
        width: 50%;
    }

    .editor {
        >.canvas-container {
            max-width: 600px;
        }
    }

    .open-menu-btn,
    .close-menu-btn {
        display: none;
    }

    .gallery {
        grid-template-columns: repeat(4, 1fr);
    }
}

/* desktop */

@media (min-width: 1300px) {
    .editor {
        >.canvas-container {
            width: 800px;
        }
    }

    .edit-container {
        gap: 40px;
    }

}