/* mobile */
@media (max-width: 800px) {
    .editor {
        flex-direction: column;
        gap: 20px;
        height: 30vh;

        >.canvas-container {
            width: 100%;
        }
    }

    body.menu-open header {
        z-index: 1;
        top: 0;
        right: 0;
        left: 0;
    }

    nav {
        position: relative;
        flex-direction: column;
        align-items: center;

        position: fixed;
        top: 0;
        right: 0;
        height: 100dvh;
        background-color: var(--clr-primery--1);
        opacity: .95;
        width: 100%;

        translate: 100%;
        transition: .6s;

        body.menu-open & {
            box-shadow: -5px 20px 20px 10px var(--clr-primary-1);
            translate: 0;
        }
    }

    a {
        width: 100%;
    }

    .close-menu-btn {
        position: absolute;
        top: 5px;
        right: 5px;

        border: none;
        border-radius: 5px;
    }
}

/* desktop */

@media (min-width: 800px) {
    .editor {
        justify-content: space-evenly;
        height: 75vh;

        >.canvas-container {
            width: 70%;
        }
    }

    .main-header {
        margin-block-end: 2rem;
    }

    .open-menu-btn,
    .close-menu-btn {
        display: none;
    }

    .gallery {
        grid-template-columns: repeat(4, 1fr);
    }

}