/* mobile */
@media (max-width: 800px) {
    .editor {
        flex-direction: column;
        gap: 20px;
        height: 30vh;

        >.canvas-container {
            width: 100%;
        }
    }
}

/* desktop */

@media (min-width: 800px) {
    .editor {
        justify-content: space-evenly;
        height: 75vh;

        >.canvas-container {
            width: 50%;
        }
    }

    .main-header {
        margin-block-end: 2rem;
    }

    .gallery {
        grid-template-columns: repeat(4, 1fr);
    }

}