.edit-container {
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 10px;

    >input {
        border-radius: 1.5rem;
        padding: .7rem;
        width: 100%;
    }

    >.txt-btns {
        gap: 5px;
    }
}