.editor {
    display: flex;
    justify-content: space-evenly;

    height: 75vh;

    >.canvas-container {
        grid-column: 2;
        width: 50%;
    }

    >.edit-container {
        grid-column: 4;
    }
}