.edit-container {
    display: grid;
    place-items: center;
    gap: 2rem;

    >input {
        border-radius: 1.5rem;
        padding: .7rem;
        width: 100%;
    }

    >.txt-btns {
        gap: 5px;
    }
}