.export {
    align-items: center;
    >form {
        >.btn {
            padding: 0.5rem;

            background-color: var(--clr-secondary);
            border: none;
            border-radius: 1rem;

            color:inherit;
            font-size: 1.1rem;

            transition: .3s;

            &:hover{
                background-color: var(--txt-clr);
                color: var(--clr-secondary);
            }
        }
    }
}