.export {
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;

    >form {
        >.btn {
            background-color: #31b7f4;

            &:hover {
                background-color: white;
                color: #31b7f4;
            }
        }
    }

    >a {

        background-color: #f4c235;
        padding-inline: 1rem;
        padding-block: .4rem;

        &:hover {
            color: #f4c235;
        }
    }
}