.gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    gap: 1.5rem;

    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--clr-primery-base);

    img {
        border-radius: 1rem;
        cursor: pointer;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    >.savedMeme {
        position: relative;

        button {
            position: absolute;
            top: 0;
            right: 0;
        }
    }
}