.gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;

    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--clr-primary-base);

    img {
        border-radius: 1rem;
    }

    >.savedMeme {
        position: relative;

        button {
            position: absolute;
            top: 0;
            right: 0;
        }
    }
}