.main-header {
    justify-content: space-between;
    align-items: center;

    background-color: var(--clr-secondary);
    margin: 1rem;
    border-radius: 3rem;

    >img {
        width: 6rem;
        padding: 0.2rem;
    }

    >nav {
        padding-inline: 2rem;
    }
}