.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--clr-secondary);
    margin-inline: 1rem;
    margin-block: 2rem;
    border-radius: 3rem;

    >img {
        width: 6rem;
        padding: 0.2rem;
    }

    >nav {
        padding-inline: 2rem;

        >* {
            margin: 1rem;
        }
    }
}