.main-header {
    justify-content: space-between;
    align-items: center;

    margin: 1rem;
    padding-inline: 2rem;

    border-radius: 3rem;
    background-color: var(--clr-secondary);

    >img {
        width: 10vw;
        padding-block-start: .7rem;
    }

    a {
        padding: 1rem;
        margin-inline-end: .5rem;
        font-size: 1.7rem;
    }
}